<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoadingViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8475808D1EFA27A600A7E70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847580A61EFA27A600A7E70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847580B11EFA27A600A7E70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
